:root {
    --color-accent: oklch(55% 45% 255);
    accent-color: var(--color-accent);
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1em;
}

nav {
    display: flex;
    margin-bottom: 1em;
    border-bottom: 1px solid oklch(80% 3% 200);

    a {
        flex: 1;
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 0.5em;
    }

    a.current {
        border-bottom: 0.4em solid oklch(85% 3% 200);
        padding-bottom: 0.1em;
    }

    a:hover {
        border-bottom: 0.4em solid var(--color-accent);
        padding-bottom: 0.1em;
        background-color: oklch(from var(--color-accent) 95% 5% h);
    }
}
